/*test1*/

/*GENERAL*/
* {
    list-style: none;
    text-decoration: none;
}

body {
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px #abc;
    border-radius: 4px;
}

header {
    text-align: center;
    background-color: rgb(242,242,242);
}
footer {
    margin-top: 10%;
    color: grey;
}
.foot{
    text-align: center;
    background-color: rgb(242,242,242);
}
h1 {
    font-variant: small-caps;
    color: rgb(69,192,234);
}
h3 {
    color: rgb(63, 159, 202);
}
main {
    text-align: center;
}

/*MENU*/
nav {
    background-color: rgb(69,192,234);
    margin-bottom: 3%;
}

#img {
    width: 50%;
    height: auto;
    max-width: 100%;
}

nav ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    margin-right: -4px;
}

li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

nav ul li a:hover {
    background-color: rgb(32,127,183);
}

/*FORMULAIRE*/
form {
    display: block;
    height: auto;
    margin: 10px auto;
    text-align: center;
}

form#co {
    width: 50%;
    max-width: 450px;
}

form#ajEnfant {
    width: 70%;
    max-width: 600px;
}
form#ajActiviteAgenda{
    width: 70%;
    max-width: 600px;
}
legend {
    border-left: solid 1px #171616;
    border-right: solid 1px #171616;
    padding: 0 5px;
    font-weight: bold;
    font-variant: small-caps;
}

span.info {
    font-size: 0.9em;
}

fieldset {
    border: solid 2px #708090;
    border-radius: 5px;
}

fieldset p {
    margin: 10px;
    padding: 5px;
}
.fieldset-moyen{
    width: 300px;
    display: block;
    margin: 10px auto;
    text-align: left;
}
.fieldset-grand{
    width: 600px;
    display: block;
    margin: 10px auto;
}
.fieldset-grand input, select, button{
    /*margin-top: 10px;*/
}
em {
    color: #f00;
    font-weight: bold;
    font-style: normal;
}

label {
    display: inline-block;
    font-variant: small-caps;
    width: 35%;
    text-align: left;
}

input {
    width: 60%;
    height: 30px;
    border: solid 2px #cccccc;
}

select {
    width: 60.3%;
    height: 30px;
    border: solid 2px #cccccc;
}

input[type=text]{
    background-color: white;
}
input:focus {
    background-color: rgb(242,242,242);
}

input[type=submit] {
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    padding: 7px;
    background-color: rgb(69,192,234);
    color: #fff;
    font-weight: bold;
    width: 110px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(32,127,183);
}

div#dSubmitAj > input[type=submit] {
    float: none;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    padding: 7px;
    background-color: rgb(69,192,234);
    color: #fff;
    font-weight: bold;
    width: 120px;
}

div#dSubmitAj > input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(32,127,183);
}

div#dLogin input[type=text] {
    border-radius: 10px 10px 0 0;
}

div#dMdp input[type=password] {
    border-radius: 0 0 10px 10px;
}

div#groupeNomEnfant input {
    border-radius: 10px 10px 0 0;
}

div#groupeDdnEnfant input {
    border-radius: 0 0 10px 10px;
}

/*AFFICHAGE ENFANT*/
table {
    border: solid 2px slategrey;
    display: table;
    margin: 0 auto;

}

a.btLien {
    display: inline-block;
    width: 150px;
    height: auto;
    margin: 10px auto;
    border: none;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(69,192,234);
}
a.btLien:hover{
    background-color: rgb(32,127,183);
}
a#btAjEnfant:hover {
    background-color: rgb(32,127,183);
}

/*compte*/
section#infos {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
}

section#parents {
    display: block;
    width: 49%;
    float: right;
}

section#enfants {
    display: block;
    width: 49%;
    float: left;
}

/*footer*/
footer {
    display: block;
    text-align: right;
}

footer ul li {
    display: inline-block;
}

footer a {
    margin: 0 10px;
}
aside{
    display: block;
    float: right;
    width: 100px;
    border: solid 2px rgb(69,192,234);
    padding: 10px;
}
/**************/
/*INTERFACES*/
/***********/

.test label {
    text-align: center;
    margin: 5px 2px;
    padding: 0.4em 3em;
    color: #000;
    background-color: #FFF;
    border-radius: 10px;
    display: inline-block;
    border: solid 1px #CCC;
    cursor: pointer;
    width: 40px;
}

.test .Vert {
    background: lightgreen;
    border: solid 1px green !important;
}

.test .Normal {
    color: #000;
    background-color: #FFF;
}

.test .Activite {
    color: #000;
    background-color: #ffa93a;
}

.test label .t {
    border: 0;
    clip: rect(0 0 0 0);
    height: 20px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 20px;
}

.test {
    display: inline-block;
}

.jours {
    display: inline-block;
    width: 137px;
    text-align: center;
    padding-right: 5px;
}

.activite label {
    text-align: center;
    margin: 5px 2px;
    padding: 0.4em 3em;
    color: #000;
    background-color: #FFF;
    border-radius: 10px;
    display: inline-block;
    border: solid 1px #CCC;
    cursor: pointer;
    width: 40px;
}

.activite label .t {
    border: 0;
    clip: rect(0 0 0 0);
    height: 20px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 20px;
}

.activite {
    display: inline-block;
}

.activite .NormalActivite {
    color: #000;
    background-color: #FFF;
}

.activite .VertActivite {
    color: #000;
    background-color: #ffa93a;
}

h2 {
    text-align: center;
    color:rgb(26,103,150);
}

table {
    border-collapse: collapse;
}
.tableGestionActiviteIndex {
    width: 60%;
    margin-bottom: 10px;
    text-align: center;

}
.tableGestionActiviteIndex thead {
    font-weight: bold;
}
.tableGestionActiviteIndex td {
    padding: auto;
    border: solid black 1px;
}
.GestionActiviteIndex{
    margin-top: 20px;
}
.tableform{
    margin: 30px;
    text-align: center;
    border: solid 1px black;
}
.tableform thead{
    background-color: rgb(242,242,242);
    color: rgb(32,127,183);
}

.tableform td, th {
    border: solid 1px black;
    padding: 5px;
}

/**********************************/
/**********CSS RESPONSIVE**********/
/**********************************/

@media screen and (max-width: 900px) {
    /*FORMULAIRE*/
    form {
        display: block;
        width: 100%;
    }

    form#co {
        width: 100%;
        margin: auto;
    }

    label {
        display: block;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;

    }

    input {
        width: 75%;
    }

    input[type=submit] {
        float: none;
        margin: auto auto 10px;
        width: 100px;

    }

    #dMdp span {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fieldset-moyen{
        width: auto;
    }
    .fieldset-grand{
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    div#groupeDdnEnfant > label {
        font-size: 14px;
    }
}

.hrefAgenda{
    display: block;
    padding: 10px;
    text-align: center;
}
#agendaActivite {
    margin-bottom: 15px;
}
#agendaActivite caption {
    background-color: rgb(242,242,242);
    color: rgb(32,127,183);
    border-top: solid 2px grey;
    border-left: solid 2px grey;
    border-right: solid 2px grey;
}
#agendaActivite thead tr th{
    border : 1px solid black;
    padding: 10px;
}

#agendaActivite tbody tr td, #agendaActivite tbody tr th{
    border : 1px solid black;
}
#agendaActivite tbody td a{
    color: rgb(32,127,183);
    font-weight: bold;
}